<!DOCTYPE html>
<html>
	<% include header %>
	
	<body>
		<% include navbar %>

		<div class="row-offcanvas row-offcanvas-left">
			<div id="sidebar" class="sidebar-offcanvas">
				<div class="col-md-12">
					<ul class="nav nav-tabs nav-stacked nav-sidebar">
						<li class="active"><a data-toggle="tab" href="#status-overview">Overview</a></li>
						<li><a data-toggle="tab" href="#status-logs">Logs</a></li>
					</ul>
				</div>
			</div>

			<div id="content">
				<div class="col-md-12">
					<div class="tab-content">
						<div id="status-overview" class="tab-pane fade in active">
							<h1 id="content-header">Overview</h1>
							blah
						</div>
						<div id="status-logs" class="tab-pane fade in">
							<h1 id="content-header">Logs</h1>
						 	log log log
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>