<ul class="list-group"> 
<% manualControl.ports.forEach(function(port) {%>
	<li class="list-group-item clearfix portItem">
		<div class="portName">
			<p><%= port.name + ((port.master) ? " *" : "")%></p>
		</div>
		<div class="pull-right">
			<input class="portSwitch" type="checkbox" data-toggle="toggle" id="<%= port._id %>" <%= (port.state ? "checked" : "")%>>
		</div>
	</li>
<% }) %>
</ul>


<script src="javascripts/manualControl.js"></script>